body{
    background-color: #10102c;
}
.profile{
    background-color: #1e1e36;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #cccccc;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    width: 250px;
    height: 350px;
    padding: 20px;
    margin-top: 90px;
    position: relative;
    border-radius: 5px;
}
.profile-image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 80px;
    margin: 0 auto 20px auto;
    display: block;
    position: absolute;
    bottom: 70%;
    left: 25%;
}
.profile-name{
    margin-top: 90px;
    font-size: 20px;
}
.profile-title{
    font-size: 12px;
}
.about{
    margin-top: 20px;
    font-size: 15px;
}
hr{
    height: 1px;
    background-color: #3e3e57;
    border: none;
}
.about-p{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 12px;
}
.profile-btn{
    margin-top: 20px;
    padding: 6px 25px;
    border: 1px solid #3e3e50;
    border-radius: 20px;
    background: #3e3e57;
    color: white;
}
.container{
    margin: auto;
}
.box-1{
    float: left;
    margin-left: 200px;
    margin-right: 30px;
}
.box-2{
    float: left;
    margin-right: 30px;
}
.box-3{
    float: left;
}
